/* area 3 projetos */

.section-projects {
    display:flex;
    justify-content: center;


}

.section-projects--filters {
    border: 1px solid #999;
    background-color: #eee;
    border-radius: 30px;
    display:inline-block;
    padding: 0px 20px
    
    
}

.section-projects--filters ul,
.section-projects--filters li {
    list-style: none;
    margin: 0;
    display: inline-block;
    padding-inline-start:0px;
}


.section-projects--filters li {
    display:inline-block;
    padding: 10px;
    text-transform: uppercase;
    font-size: 13px;
    border-left: 1px solid #ccc;
    color: #555;
    border-bottom: 3px solid #eee;
    cursor: pointer;
    margin-right: -4px;
    display: inline-block;
}


.section-projects--filters li:first-child {
    border-left: 0;
}

.section-projects--filters li:hover,
.section-projects--filters li.active
 {
    border-bottom: 3px solid #B28756;}